<div class="row mt-4">
  <div class="col-12">
    <h1>E-Mail an <%= @recipient.email_address %> priorisieren</h1>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <p>Mit Pay2Mail haben Sie die Möglichkeit Ihre E-Mail an <%= @recipient.email_address %> gegen einen Aufpreis zu
      priorisieren,
      sodass sie schneller bearbeitet wird. Die Höhe richtet sich dabei nach den gezahlten Beträgen der bisher
      eingegangenen E-Mails. Ihr voraussichtliches Bearbeitungsdatum ist unter Vorbehalt, da Sie noch überboten werden
      können.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-6">
    <table class="table table-striped table-secondary">
      <thead>
      <tr>
        <th scope="col">Bearbeitung bis</th>
        <th scope="col">Preis</th>
      </tr>
      </thead>
      <tbody>
      <% last_due_date = nil %>
      <% @due_dates.each_with_index do |due_date, i| %>
        <% next if last_due_date == due_date %>
        <% last_due_date = due_date %>
        <tr>
          <td><%= l due_date %></td>
          <td><%= @messages_sorted[i].value_header.present? ? number_to_currency(@messages_sorted[i].value_header.to_f + 1) : number_to_currency(1) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-2 mt-4 pb-4">
  <%= link_to "E-Mail priorisieren", new_send_priority_path, class: "btn btn-primary" %>
</div>
