<main class="messages">

  <div class="row mt-2">
    <%= link_to '← Zurück zum Posteingang', receive_root_path, class: 'back-button' %>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Nachricht von <%= @message.sender_address %></h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <p>Bearbeiten Sie die nachfolgende Nachricht in Ihrem E-Mail Client und klicken Sie daraufhin auf "Erledigt".</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12" title="<%= "Sie können nur Nachrichten bearbeiten, die heute fällig sind." unless @processable %>">
        <%= link_to 'Erledigt', receive_delete_message_path(@message.id, ruled: params[:ruled]), class: "d-block d-sm-none btn btn-success mb-3 #{'disabled' unless @processable}" %>
      <div class="card">
        <div class="p-3 small messages__metadata">
          <div class="row">
            <div class="col-sm-10">
              <p><strong>Empfangen:</strong> <%= l(@message.send_at, format: '%d.%m.%Y, %H:%M') %></p>
              <p><strong>Von:</strong> <%= @message.sender_address %></p>
              <p><strong>An:</strong> <%= @message.recipient_address %></p>
              <p><strong>Betreff:</strong> <%= @message.subject %></p>
              <p><strong>Gezahlt:</strong> <%= format_value_amount(@message.value) %></p>
              <% if params[:due].present? %><p><strong>Fällig:</strong> <%= params[:due] %></p>
              <% end %>
            </div>
            <div class="col-sm-2" title="<%= "Sie können nur Nachrichten bearbeiten, die heute fällig sind." unless @processable %>">
                <%= link_to 'Erledigt', receive_delete_message_path(@message.id, ruled: params[:ruled]), class: "d-none d-sm-block btn btn-success #{'disabled' unless @processable}" %>
            </div>
          </div>
        </div>
        <% if @message.multipart? %>
          <iframe height="500" srcdoc="<%= h @message.content %>"></iframe>
        <% else %>
          <div class="p-3 messages__content"><%= simple_format @message.content %></div>
        <% end %>
      </div>
    </div>
  </div>
</main>