<main class="inboxes">

  <div class="row mt-4">
    <div class="col-12">
      <h1>Posteingang von <%= @inbox.recipient.name %></h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <p>Folgend sehen Sie Ihre E-Mails f체r Sie nach gezahltem Gegenwert sortiert. Bitte lassen Sie diese E-Mails in
        Ihrem E-Mail Client als "ungelesen" markiert und w채hlen Sie "erledigt" aus, wenn sie bearbeitet wurde. Die
        E-Mail wird dann automatisch als ungelesen markiert.</p>
    </div>
  </div>

  <% if @messages_due_today > 0 %>
    <div class="row mt-2">
      <div class="col-12">
        <strong>Sie m체ssen heute noch <%= @messages_due_today %> E-Mail<%= 's' if @messages_due_today > 1%> bearbeiten.</strong>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-striped table-info table-hover">
        <thead>
        <tr>
          <th class="p-3" scope="col">Absender</th>
          <th class="p-3" scope="col">Betreff</th>
          <th class="p-3" scope="col">Gezahlt</th>
          <th class="p-3" scope="col">Datum</th>
          <th class="p-3" scope="col">F채lligkeit</th>
        </tr>
        </thead>
        <tbody>
        <% @inbox.messages.unprocessed.with_value(sorted: true).each do |message| %>
          <tr onclick="window.location='<%= receive_message_path(message) %>';">
            <td class="p-3"><%= message.sender_address %></td>
            <td title="<%= message.subject if message.subject.length > 80 %>" class="p-3">
              <%= message.subject.truncate(80) %>
            </td>
            <td class="p-3"><%= format_value_amount(message.value_header) %></td>
            <td class="p-3"><%= l message.send_at.to_date %></td>
            <td class="p-3"><%#= #todo %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</main>