<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Pay2Mail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <%= link_to "Pay2Mail", :sender_root, class: 'navbar-brand' %>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
